# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
import pandas as pd
import sqlite3

In [5]:
curr = sqlite3.connect('data.sqlite')
c = curr.cursor()

In [6]:
df = pd.DataFrame(
    c.execute("""
    SELECT *
    FROM sqlite_master 
    WHERE type='table';
""").fetchall()
)
df.columns = [x[0] for x in c.description]
c.description
df

,type,name,tbl_name,rootpage,sql
0,table,orderdetails,orderdetails,2,"CREATE TABLE `orderdetails` (`orderNumber`, `p..."
1,table,payments,payments,28,"CREATE TABLE `payments` (`customerNumber`, `ch..."
2,table,offices,offices,32,"CREATE TABLE `offices` (`officeCode`, `city`, ..."
3,table,customers,customers,33,"CREATE TABLE `customers` (`customerNumber`, `c..."
4,table,orders,orders,38,"CREATE TABLE `orders` (`orderNumber`, `orderDa..."
5,table,productlines,productlines,46,"CREATE TABLE `productlines` (`productLine`, `t..."
6,table,products,products,47,"CREATE TABLE `products` (`productCode`, `produ..."
7,table,employees,employees,56,"CREATE TABLE `employees` (`employeeNumber`, `l..."

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [8]:
df = pd.DataFrame(c.execute("""
SELECT count(*)
FROM employees
JOIN offices
LIMIT 10
""").fetchall())
df.columns = [x[0] for x in c.description]
df

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
1,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
2,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA
3,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA
4,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President,5,Tokyo,+81 33 224 5000,4-1 Kioicho,,Chiyoda-Ku,Japan,102-8578,Japan
5,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President,6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,,Australia,NSW 2010,APAC
6,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA
7,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
8,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
9,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [ ]:
#Your code here

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
# Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!